# Calendar app secrets/data
credentials/*.json
data/

# Radicale
# - Track config files in radicale/etc
# - Ignore runtime storage (radicale/var) and real credential material (users)
radicale/var/
radicale/etc/users
radicale/**
!/radicale/etc/default.conf
!/radicale/etc/rights
!/radicale/etc/users.example
